*.swo
*.swp
*~
\#*#

# exclude everything in root except files and directories from void-packages
/*
!/.gitattributes
!/.github
!/.gitignore
!/.mailmap
!/CONTRIBUTING.md
!/COPYING
!/Manual.md
!/README.md
!/etc
!/srcpkgs